# Dados: Formula 1 World Championship (1950 - 2023)

Link: https://www.kaggle.com/datasets/rohanrao/formula-1-world-championship-1950-2020

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

# Carregando os dados:

In [2]:
drivers = pd.read_csv('drivers.csv')

In [3]:
pit_stops = pd.read_csv('pit_stops.csv')

In [4]:
sprint = pd.read_csv('sprint_results.csv')

In [5]:
results = pd.read_csv('results.csv')

In [6]:
status = pd.read_csv('status.csv')

In [7]:
circuits = pd.read_csv('circuits.csv')

# Explorando os dados

### 1. Alterar tipo de variável;
### 2. Corrigir valores nulos.

## DRIVERS

In [8]:
drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [9]:
drivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857 entries, 0 to 856
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverId     857 non-null    int64
 1   driverRef    857 non-null    object
 2   number       857 non-null    object
 3   code         857 non-null    object
 4   forename     857 non-null    object
 5   surname      857 non-null    object
 6   dob          857 non-null    object
 7   nationality  857 non-null    object
 8   url          857 non-null    object
dtypes: int64(1), object(8)
memory usage: 60.4+ KB

In [10]:
drivers.describe()

         driverId
count  857.000000
mean   429.057176
std    247.632402
min      1.000000
25%    215.000000
50%    429.000000
75%    643.000000
max    858.000000

Embora não haja campos vazios, existem valores 'estranhos' nas colunas 'number' e 'code'.

In [11]:
drivers['number'].value_counts()

\N    803
6       2
28      2
9       2
88      2
45      2
99      2
22      2
10      2
2       2
4       2
44      1
31      1
53      1
30      1
94      1
35      1
18      1
16      1
55      1
63      1
23      1
51      1
89      1
47      1
24      1
98      1
26      1
12      1
13      1
14      1
7       1
19      1
5       1
8       1
27      1
11      1
33      1
3       1
25      1
21      1
77      1
17      1
20      1
81      1
Name: number, dtype: int64

In [12]:
drivers['code'].value_counts()

\N     757
BIA      2
VER      2
MSC      2
MAG      2
      ...
MON      1
YAM      1
WIN      1
SPE      1
SAR      1
Name: code, Length: 95, dtype: int64

### 1. Alterar tipo de variável

O tipo da coluna driverId deveria ser object ao invés de int, pois se refere a dados qualitativos.

#### Alterar o tipo da coluna de int para str:

In [13]:
drivers['driverId']=drivers['driverId'].astype(str)

In [14]:
drivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857 entries, 0 to 856
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverId     857 non-null    object
 1   driverRef    857 non-null    object
 2   number       857 non-null    object
 3   code         857 non-null    object
 4   forename     857 non-null    object
 5   surname      857 non-null    object
 6   dob          857 non-null    object
 7   nationality  857 non-null    object
 8   url          857 non-null    object
dtypes: object(9)
memory usage: 60.4+ KB

### 2. Corrigir valores nulos

**Coluna "number"**

**Coluna "code"**

O conteúdo da coluna code se refere as 3 primeiras letras dos dados da coluna 'driveRef'.

Sendo assim, os campos faltantes serão preenchidos apartir da extração das 3 letras iniciais dos dados da coluna 'driveRef'.

## PIT STOPS

In [15]:
pit_stops.head()

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [16]:
pit_stops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9634 entries, 0 to 9633
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   raceId        9634 non-null   int64
 1   driverId      9634 non-null   int64
 2   stop          9634 non-null   int64
 3   lap           9634 non-null   int64
 4   time          9634 non-null   object
 5   duration      9634 non-null   object
 6   milliseconds  9634 non-null   int64
dtypes: int64(5), object(2)
memory usage: 527.0+ KB

In [17]:
pit_stops.describe()

            raceId     driverId         stop          lap  milliseconds
count  9634.000000  9634.000000  9634.000000  9634.000000  9.634000e+03
mean    956.103384   513.030828     1.760536    25.255553  7.240173e+04
std      76.862933   391.682304     0.914522    14.579838  2.738340e+05
min     841.000000     1.000000     1.000000     1.000000  1.289700e+04
25%     885.000000    18.000000     1.000000    13.000000  2.190825e+04
50%     953.000000   815.000000     2.000000    25.000000  2.355700e+04
75%    1024.000000   830.000000     2.000000    36.000000  2.618675e+04
max    1096.000000   856.000000     6.000000    78.000000  3.069017e+06

In [18]:
pit_stops['milliseconds'].value_counts()

22534    7
22745    7
22838    6
22303    6
23732    6
        ..
25977    1
25278    1
32466    1
24407    1
21559    1
Name: milliseconds, Length: 6742, dtype: int64

### 1. Alterar tipo de variável

In [19]:
pit_stops['raceId'] = pit_stops['raceId'].astype(str)

In [20]:
pit_stops['driverId'] = pit_stops['driverId'].astype(str)

In [21]:
pit_stops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9634 entries, 0 to 9633
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   raceId        9634 non-null   object
 1   driverId      9634 non-null   object
 2   stop          9634 non-null   int64
 3   lap           9634 non-null   int64
 4   time          9634 non-null   object
 5   duration      9634 non-null   object
 6   milliseconds  9634 non-null   int64
dtypes: int64(3), object(4)
memory usage: 527.0+ KB

### 2. Corrigir valores nulos

## SPRINTS

In [22]:
sprint.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,1
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,1
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,1
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,1
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,1

In [23]:
sprint.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   resultId        120 non-null    int64
 1   raceId          120 non-null    int64
 2   driverId        120 non-null    int64
 3   constructorId   120 non-null    int64
 4   number          120 non-null    int64
 5   grid            120 non-null    int64
 6   position        120 non-null    object
 7   positionText    120 non-null    object
 8   positionOrder   120 non-null    int64
 9   points          120 non-null    int64
 10  laps            120 non-null    int64
 11  time            120 non-null    object
 12  milliseconds    120 non-null    object
 13  fastestLap      120 non-null    object
 14  fastestLapTime  120 non-null    object
 15  statusId        120 non-null    int64
dtypes: int64(10), object(6)
memory usage: 15.1+ KB

In [24]:
sprint.describe()

,resultId,raceId,driverId,constructorId,number,grid,positionOrder,points,laps,statusId
count,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.00000,120.000000
mean,60.500000,1075.500000,693.458333,95.500000,27.375000,10.383333,10.500000,1.050000,20.52500,3.291667
std,34.785054,11.562763,317.082840,88.483299,24.754615,5.859967,5.790459,2.093808,4.39626,14.058937
min,1.000000,1061.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.00000,1.000000
25%,30.750000,1065.000000,817.000000,6.000000,9.000000,5.000000,5.750000,0.000000,18.00000,1.000000
50%,60.500000,1074.000000,839.500000,84.000000,18.000000,10.000000,10.500000,0.000000,21.00000,1.000000
75%,90.250000,1084.000000,847.000000,210.000000,44.000000,15.250000,15.250000,1.000000,24.00000,1.000000
max,120.000000,1095.000000,855.000000,214.000000,99.000000,20.000000,20.000000,8.000000,24.00000,130.000000

### 1. Alterar tipo de variável

In [25]:
sprint['resultId'] = sprint['resultId'].astype(str)

In [26]:
sprint['raceId'] = sprint['raceId'].astype(str)

In [27]:
sprint['driverId'] = sprint['driverId'].astype(str)

In [28]:
sprint['constructorId'] = sprint['constructorId'].astype(str)

In [29]:
sprint['statusId'] = sprint['statusId'].astype(str)

In [30]:
sprint.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   resultId        120 non-null    object
 1   raceId          120 non-null    object
 2   driverId        120 non-null    object
 3   constructorId   120 non-null    object
 4   number          120 non-null    int64
 5   grid            120 non-null    int64
 6   position        120 non-null    object
 7   positionText    120 non-null    object
 8   positionOrder   120 non-null    int64
 9   points          120 non-null    int64
 10  laps            120 non-null    int64
 11  time            120 non-null    object
 12  milliseconds    120 non-null    object
 13  fastestLap      120 non-null    object
 14  fastestLapTime  120 non-null    object
 15  statusId        120 non-null    object
dtypes: int64(5), object(11)
memory usage: 15.1+ KB

A coluna 'milliseconds' deveria ser do tipo numérica. Sendo assim, deve-se alterar seu tipo.

In [31]:
#Para alterar o tipo da variável é preciso substituir os valores '\\N'
sprint['milliseconds'] = sprint['milliseconds'].replace('\\N',0)
sprint['milliseconds'] = sprint['milliseconds'].astype(int)

### 2. Corrigir valores nulos

In [32]:
sprint['milliseconds'].value_counts()

0          6
1538426    1
1882477    1
1624598    1
1621091    1
          ..
1724055    1
1720899    1
1720055    1
1717451    1
1888157    1
Name: milliseconds, Length: 115, dtype: int64

Substituir os valores '0' pela média:

In [33]:
#df apenas com os registros em que a coluna milliseconds não seja nula
df_sprint_nao_nulo = sprint[sprint['milliseconds']!=0]
# Cálculo da média
sprint_mean = df_sprint_nao_nulo['milliseconds'].mean()
sprint_mean

1736501.2894736843

In [34]:
sprint['milliseconds'] = sprint['milliseconds'].replace(0,sprint_mean)

In [35]:
sprint['milliseconds'].value_counts()

1.736501e+06    6
1.538426e+06    1
1.882477e+06    1
1.624598e+06    1
1.621091e+06    1
               ..
1.724055e+06    1
1.720899e+06    1
1.720055e+06    1
1.717451e+06    1
1.888157e+06    1
Name: milliseconds, Length: 115, dtype: int64

## RESULTS

In [36]:
results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [37]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25840 entries, 0 to 25839
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         25840 non-null  int64
 1   raceId           25840 non-null  int64
 2   driverId         25840 non-null  int64
 3   constructorId    25840 non-null  int64
 4   number           25840 non-null  object
 5   grid             25840 non-null  int64
 6   position         25840 non-null  object
 7   positionText     25840 non-null  object
 8   positionOrder    25840 non-null  int64
 9   points           25840 non-null  float64
 10  laps             25840 non-null  int64
 11  time             25840 non-null  object
 12  milliseconds     25840 non-null  object
 13  fastestLap       25840 non-null  object
 14  rank             25840 non-null  object
 15  fastestLapTime   25840 non-null  object
 16  fastestLapSpeed  25840 non-null  object
 17  statusId         25840 non-null  int64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.5+ MB

In [38]:
results.describe()

,resultId,raceId,driverId,constructorId,grid,positionOrder,points,laps,statusId
count,25840.000000,25840.000000,25840.000000,25840.000000,25840.000000,25840.000000,25840.000000,25840.000000,25840.000000
mean,12921.334327,531.425813,261.732082,48.628328,11.179063,12.876006,1.877053,45.977515,17.568692
std,7460.682031,299.440908,268.623016,59.732131,7.243725,7.712391,4.169849,29.808951,26.155476
min,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000
25%,6460.750000,293.000000,56.000000,6.000000,5.000000,6.000000,0.000000,22.000000,1.000000
50%,12920.500000,514.000000,163.000000,25.000000,11.000000,12.000000,0.000000,52.000000,11.000000
75%,19380.250000,784.000000,360.000000,58.000000,17.000000,18.000000,2.000000,66.000000,14.000000
max,25845.000000,1096.000000,856.000000,214.000000,34.000000,39.000000,50.000000,200.000000,141.000000

### 1. Alterar tipo de variável

In [39]:
results['resultId'] = results['resultId'].astype(str)

In [40]:
results['raceId'] = results['raceId'].astype(str)

In [41]:
results['driverId'] = results['driverId'].astype(str)

In [42]:
results['constructorId'] = results['constructorId'].astype(str)

In [43]:
results['statusId'] = results['statusId'].astype(str)

In [44]:
#Para alterar o tipo da variável é preciso substituir os valores '\\N'

results['milliseconds'] = results['milliseconds'].replace('\\N',0)

#results['milliseconds'] = results['milliseconds'].fillna(0,inplace = True)

In [45]:
results['milliseconds'] = results['milliseconds'].astype(int)

In [46]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25840 entries, 0 to 25839
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         25840 non-null  object
 1   raceId           25840 non-null  object
 2   driverId         25840 non-null  object
 3   constructorId    25840 non-null  object
 4   number           25840 non-null  object
 5   grid             25840 non-null  int64
 6   position         25840 non-null  object
 7   positionText     25840 non-null  object
 8   positionOrder    25840 non-null  int64
 9   points           25840 non-null  float64
 10  laps             25840 non-null  int64
 11  time             25840 non-null  object
 12  milliseconds     25840 non-null  int32
 13  fastestLap       25840 non-null  object
 14  rank             25840 non-null  object
 15  fastestLapTime   25840 non-null  object
 16  fastestLapSpeed  25840 non-null  object
 17  statusId         25840 non-null  object
dtypes: float64(1), int32(1), int64(3), object(13)
memory usage: 3.5+ MB

In [47]:
results['milliseconds'].value_counts()

0           18753
14259460        5
10928200        3
12131000        2
10839000        2
            ...
6570561         1
6559297         1
6550083         1
6523851         1
5355285         1
Name: milliseconds, Length: 7051, dtype: int64

### 2. Corrigir valores nulos

Para corrigir os valores nulos da coluna 'milliseconds' será utilizado a média dos dados existentes.

In [48]:
df_results_sem_nulos = results[results['milliseconds']!=0]
results_mean = df_results_sem_nulos['milliseconds'].mean()
results_mean

6231870.430788768

In [49]:
results['milliseconds']=results['milliseconds'].replace(0,results_mean)

In [50]:
results['milliseconds'].describe()

count    2.584000e+04
mean     6.231870e+06
std      8.792170e+05
min      2.070710e+05
25%      6.231870e+06
50%      6.231870e+06
75%      6.231870e+06
max      1.509054e+07
Name: milliseconds, dtype: float64

## STATUS

In [51]:
status.head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

In [52]:
status.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   statusId  139 non-null    int64
 1   status    139 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.3+ KB

### 1. Alterar tipo de variável

In [53]:
status['statusId'] = status['statusId'].astype(str)

In [54]:
status.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   statusId  139 non-null    object
 1   status    139 non-null    object
dtypes: object(2)
memory usage: 2.3+ KB

### 2. Corrigir valores nulos

## CIRCUITS

In [55]:
circuits.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [56]:
circuits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitId   77 non-null     int64
 1   circuitRef  77 non-null     object
 2   name        77 non-null     object
 3   location    77 non-null     object
 4   country     77 non-null     object
 5   lat         77 non-null     float64
 6   lng         77 non-null     float64
 7   alt         77 non-null     object
 8   url         77 non-null     object
dtypes: float64(2), int64(1), object(6)
memory usage: 5.5+ KB

### 1. Alterar tipo de variável

In [57]:
circuits['circuitId'] = circuits['circuitId'].astype(str)

In [58]:
circuits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitId   77 non-null     object
 1   circuitRef  77 non-null     object
 2   name        77 non-null     object
 3   location    77 non-null     object
 4   country     77 non-null     object
 5   lat         77 non-null     float64
 6   lng         77 non-null     float64
 7   alt         77 non-null     object
 8   url         77 non-null     object
dtypes: float64(2), object(7)
memory usage: 5.5+ KB

### 2. Corrigir valores nulos