In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("top10s.csv", encoding = 'latin1')
df

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,599,Find U Again (feat. Camila Cabello),Mark Ronson,dance pop,2019,104,66,61,-7,20,16,176,1,3,75
599,600,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,2019,95,79,75,-6,7,61,206,21,12,75
600,601,"No Brainer (feat. Justin Bieber, Chance the Ra...",DJ Khaled,dance pop,2019,136,76,53,-5,9,65,260,7,34,70
601,602,Nothing Breaks Like a Heart (feat. Miley Cyrus),Mark Ronson,dance pop,2019,114,79,60,-6,42,24,217,1,7,69
602,603,Kills You Slowly,The Chainsmokers,electropop,2019,150,44,70,-9,13,23,213,6,6,67

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.size

9045

In [5]:
df.describe()

,Unnamed: 0,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
count,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000
mean,302.000000,2014.592040,118.545605,70.504146,64.379768,-5.578773,17.774461,52.225539,224.674959,14.326700,8.358209,66.520730
std,174.215384,2.607057,24.795358,16.310664,13.378718,2.798020,13.102543,22.513020,34.130059,20.766165,7.483162,14.517746
min,1.000000,2010.000000,0.000000,0.000000,0.000000,-60.000000,0.000000,0.000000,134.000000,0.000000,0.000000,0.000000
25%,151.500000,2013.000000,100.000000,61.000000,57.000000,-6.000000,9.000000,35.000000,202.000000,2.000000,4.000000,60.000000
50%,302.000000,2015.000000,120.000000,74.000000,66.000000,-5.000000,12.000000,52.000000,221.000000,6.000000,5.000000,69.000000
75%,452.500000,2017.000000,129.000000,82.000000,73.000000,-4.000000,24.000000,69.000000,239.500000,17.000000,9.000000,76.000000
max,603.000000,2019.000000,206.000000,98.000000,97.000000,-2.000000,74.000000,98.000000,424.000000,99.000000,48.000000,99.000000

In [6]:
df.isna()

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
599,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
600,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
601,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
602,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
df.isna().sum()

Unnamed: 0    0
title         0
artist        0
top genre     0
year          0
bpm           0
nrgy          0
dnce          0
dB            0
live          0
val           0
dur           0
acous         0
spch          0
pop           0
dtype: int64

In [8]:
df["artist"].unique()

array(['Train', 'Eminem', 'Kesha', 'Lady Gaga', 'Bruno Mars',
       'Justin Bieber', 'Taio Cruz', 'OneRepublic', 'Alicia Keys',
       'Rihanna', 'Flo Rida', 'Mike Posner', 'Far East Movement', 'Usher',
       'Sean Kingston', 'The Black Eyed Peas', 'Adam Lambert', 'Maroon 5',
       'Neon Trees', 'Selena Gomez & The Scene', 'Enrique Iglesias',
       'Katy Perry', 'Britney Spears', '3OH!3', 'David Guetta',
       'Christina Aguilera', 'Florence + The Machine', 'Shakira',
       'Tinie Tempah', 'T.I.', 'Martin Solveig', 'Christina Perri',
       'Adele', 'Pitbull', 'Beyoncé', 'Hot Chelle Rae', 'Avril Lavigne',
       'Kanye West', 'LMFAO', 'Jessie J', 'Jennifer Lopez', 'Chris Brown',
       'Sleeping At Last', 'Nicki Minaj', 'P!nk', 'Coldplay',
       'One Direction', 'Taylor Swift', 'Carly Rae Jepsen',
       'Kelly Clarkson', 'Owl City', 'The Wanted', 'fun.',
       'Ellie Goulding', 'Gym Class Heroes', 'Avicii', 'The Script',
       'Miley Cyrus', 'Swedish House Mafia', 'Daft Punk', 'James Arthur',
       'Robin Thicke', 'Demi Lovato', 'Zedd', 'Lana Del Rey',
       'Calvin Harris', 'Drake', 'Sara Bareilles',
       'Macklemore & Ryan Lewis', 'Labrinth', 'Ne-Yo', 'Ariana Grande',
       'Justin Timberlake', 'will.i.am', 'Icona Pop', 'Fergie',
       'Little Mix', 'Emeli Sandé', 'Selena Gomez', 'Austin Mahone',
       'Jonas Brothers', 'Mariah Carey', 'Ciara', 'Jewel',
       'Kelly Rowland', 'John Legend', 'Sam Smith', 'Pharrell Williams',
       'MAGIC!', 'Passenger', 'Bastille', 'Lorde', 'John Newman',
       'Disclosure', 'Michael Jackson', '5 Seconds of Summer',
       'Iggy Azalea', 'Jason Derulo', 'The Chainsmokers', 'Birdy',
       'A Great Big World', 'Sia', 'Charli XCX', 'Lily Allen',
       'Lea Michele', 'Ed Sheeran', 'The Weeknd', 'Mark Ronson', 'Hozier',
       'Shawn Mendes', 'Mr. Probz', 'Zara Larsson', 'Fifth Harmony',
       'Clean Bandit', 'Meghan Trainor', 'Nick Jonas', 'Paloma Faith',
       'Olly Murs', 'Naughty Boy', 'Alessia Cara', 'Sigala', 'Rudimental',
       'Lost Frequencies', 'Robin Schulz', 'Lilly Wood and The Prick',
       'Wiz Khalifa', 'Alesso', 'Madonna', 'Gwen Stefani', 'Jess Glynne',
       'Hilary Duff', 'Ricky Martin', 'Jennifer Hudson', 'DNCE',
       'Martin Garrix', 'Lukas Graham', 'G-Eazy', 'Hailee Steinfeld',
       'BØRNS', 'Major Lazer', 'MØ', 'Tove Lo', 'ZAYN', 'Bebe Rexha',
       'Snakehips', 'Missy Elliott', 'Years & Years', 'Charlie Puth',
       'Janet Jackson', 'Joey Montana', 'Nelly Furtado', 'DJ Snake',
       'Kygo', 'DJ Khaled', 'Luis Fonsi', 'Camila Cabello', 'Jonas Blue',
       'CNCO', 'Cardi B', 'Alan Walker', 'Liam Payne', 'Niall Horan',
       'Cashmere Cat', 'Galantis', 'Dua Lipa', 'Silk City', 'Marshmello',
       'Halsey', 'Troye Sivan', 'Dan + Shay', 'Rita Ora', 'Harry Styles',
       'Ansel Elgort', 'J Balvin', 'N.E.R.D', 'Hayley Kiyoko', 'RedOne',
       'Lewis Capaldi', 'SHAED', 'Lizzo', 'Mabel', 'Khalid', 'R3HAB',
       'Daddy Yankee'], dtype=object)

In [9]:
df["artist"].nunique()

184

In [10]:
df.size

9045

In [11]:
#As top 3 músicas com maior duração
df.nlargest(3,'dur')

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
188,189,TKO,Justin Timberlake,dance pop,2013,138,68,61,-7,43,49,424,1,24,58
422,423,Wish That You Were Here - From Miss Peregrine...,Florence + The Machine,art pop,2016,94,57,37,-6,13,12,403,72,3,57
63,64,Monster,Kanye West,chicago rap,2011,125,69,63,-6,67,10,379,0,20,73

In [12]:
#As top 3 músicas com menor duração
df.nsmallest(3,'dur')

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
330,331,Mark My Words,Justin Bieber,canadian pop,2015,114,26,38,-9,17,52,134,88,3,63
591,592,All Around The World (La La La),R3HAB,big room,2019,125,86,73,-5,11,52,148,48,3,82
174,175,I Love It (feat. Charli XCX),Icona Pop,candy pop,2013,126,91,71,-3,15,82,157,1,3,67

In [13]:
df2 = df.drop_duplicates("title")
df2

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,599,Find U Again (feat. Camila Cabello),Mark Ronson,dance pop,2019,104,66,61,-7,20,16,176,1,3,75
599,600,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,2019,95,79,75,-6,7,61,206,21,12,75
600,601,"No Brainer (feat. Justin Bieber, Chance the Ra...",DJ Khaled,dance pop,2019,136,76,53,-5,9,65,260,7,34,70
601,602,Nothing Breaks Like a Heart (feat. Miley Cyrus),Mark Ronson,dance pop,2019,114,79,60,-6,42,24,217,1,7,69
602,603,Kills You Slowly,The Chainsmokers,electropop,2019,150,44,70,-9,13,23,213,6,6,67

In [14]:
df2.fillna(0)
df2

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,599,Find U Again (feat. Camila Cabello),Mark Ronson,dance pop,2019,104,66,61,-7,20,16,176,1,3,75
599,600,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,2019,95,79,75,-6,7,61,206,21,12,75
600,601,"No Brainer (feat. Justin Bieber, Chance the Ra...",DJ Khaled,dance pop,2019,136,76,53,-5,9,65,260,7,34,70
601,602,Nothing Breaks Like a Heart (feat. Miley Cyrus),Mark Ronson,dance pop,2019,114,79,60,-6,42,24,217,1,7,69
602,603,Kills You Slowly,The Chainsmokers,electropop,2019,150,44,70,-9,13,23,213,6,6,67

In [15]:
#Matriz transposta
df2.T

,0,1,2,3,4,5,6,7,8,9,...,593,594,595,596,597,598,599,600,601,602
Unnamed: 0,1,2,3,4,5,6,7,8,9,10,...,594,595,596,597,598,599,600,601,602,603
title,"Hey, Soul Sister",Love The Way You Lie,TiK ToK,Bad Romance,Just the Way You Are,Baby,Dynamite,Secrets,Empire State of Mind (Part II) Broken Down,Only Girl (In The World),...,Call You Mine,No Guidance (feat. Drake),Antisocial (with Travis Scott),"Taki Taki (feat. Selena Gomez, Ozuna & Cardi B)",Con Calma - Remix,Find U Again (feat. Camila Cabello),Cross Me (feat. Chance the Rapper & PnB Rock),"No Brainer (feat. Justin Bieber, Chance the Ra...",Nothing Breaks Like a Heart (feat. Miley Cyrus),Kills You Slowly
artist,Train,Eminem,Kesha,Lady Gaga,Bruno Mars,Justin Bieber,Taio Cruz,OneRepublic,Alicia Keys,Rihanna,...,The Chainsmokers,Chris Brown,Ed Sheeran,DJ Snake,Daddy Yankee,Mark Ronson,Ed Sheeran,DJ Khaled,Mark Ronson,The Chainsmokers
top genre,neo mellow,detroit hip hop,dance pop,dance pop,pop,canadian pop,dance pop,dance pop,hip pop,barbadian pop,...,electropop,dance pop,pop,electronic trap,latin,dance pop,pop,dance pop,dance pop,electropop
year,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,...,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019
bpm,97,87,120,119,109,65,120,148,93,126,...,104,93,152,96,94,104,95,136,114,150
nrgy,89,93,84,92,84,86,78,76,37,72,...,70,45,82,80,87,66,79,76,79,44
dnce,67,75,76,70,64,73,75,52,48,79,...,59,70,72,84,74,61,75,53,60,70
dB,-4,-5,-3,-4,-5,-5,-4,-6,-8,-4,...,-6,-7,-5,-4,-3,-7,-6,-5,-6,-9
live,8,52,29,8,9,11,4,12,12,7,...,34,16,36,6,4,20,7,9,42,13
val,80,64,71,71,43,54,82,38,14,61,...,52,14,91,62,61,16,61,65,24,23
dur,217,263,200,295,221,214,203,225,216,235,...,218,261,162,213,181,176,206,260,217,213
acous,19,24,10,0,2,4,0,7,74,13,...,20,12,13,16,17,1,21,7,1,6
spch,4,23,14,4,4,14,9,4,3,4,...,3,15,5,23,5,3,12,34,7,6
pop,83,82,80,79,78,77,77,77,76,73,...,81,81,78,77,76,75,75,70,69,67

In [16]:
#Seleciona amostra aleatória
df2.sample(5)

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
539,540,Bad Liar,Selena Gomez,dance pop,2018,121,41,97,-6,8,73,215,19,7,75
435,436,One Call Away (feat. Tyga) - Remix,Charlie Puth,dance pop,2016,91,69,75,-5,13,52,192,26,4,41
257,258,Anaconda,Nicki Minaj,dance pop,2014,130,60,96,-6,21,65,260,7,18,50
37,38,If I Had You,Adam Lambert,australian pop,2010,131,91,65,-4,37,79,228,1,11,59
371,372,Needed Me,Rihanna,barbadian pop,2016,111,31,67,-8,8,30,192,11,24,80

In [17]:
#Músicas da Ariana Grande
df[df["artist"]=='Ariana Grande']

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
171,172,The Way,Ariana Grande,dance pop,2013,82,88,65,-3,8,86,227,29,11,68
221,222,Problem,Ariana Grande,dance pop,2014,103,81,66,-5,16,63,194,2,15,75
287,288,Love Me Harder,Ariana Grande,dance pop,2015,99,71,47,-4,8,24,236,1,3,76
291,292,Break Free,Ariana Grande,dance pop,2015,130,70,69,-5,20,28,215,1,5,75
323,324,Focus,Ariana Grande,dance pop,2015,100,88,67,-6,44,79,211,27,24,66
368,369,Into You,Ariana Grande,dance pop,2016,108,73,62,-6,14,37,244,2,11,80
381,382,Dangerous Woman,Ariana Grande,dance pop,2016,134,60,66,-5,36,29,236,5,4,78
451,452,Side To Side,Ariana Grande,dance pop,2017,159,74,65,-6,24,61,226,5,23,80
513,514,no tears left to cry,Ariana Grande,dance pop,2018,122,71,70,-6,29,35,206,4,6,84

In [18]:
#Número de músicas da Ariana Grande
df[df["artist"]=='Ariana Grande']["artist"].count()

9

In [19]:
(df[df["artist"]=='Ariana Grande'])[['title','year']]

                    title  year
171               The Way  2013
221               Problem  2014
287        Love Me Harder  2015
291            Break Free  2015
323                 Focus  2015
368              Into You  2016
381       Dangerous Woman  2016
451          Side To Side  2017
513  no tears left to cry  2018

In [20]:
df[df['dur']>200]

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78
5,6,Baby,Justin Bieber,canadian pop,2010,65,86,73,-5,11,54,214,4,14,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,597,"Taki Taki (feat. Selena Gomez, Ozuna & Cardi B)",DJ Snake,electronic trap,2019,96,80,84,-4,6,62,213,16,23,77
599,600,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,2019,95,79,75,-6,7,61,206,21,12,75
600,601,"No Brainer (feat. Justin Bieber, Chance the Ra...",DJ Khaled,dance pop,2019,136,76,53,-5,9,65,260,7,34,70
601,602,Nothing Breaks Like a Heart (feat. Miley Cyrus),Mark Ronson,dance pop,2019,114,79,60,-6,42,24,217,1,7,69
602,603,Kills You Slowly,The Chainsmokers,electropop,2019,150,44,70,-9,13,23,213,6,6,67

In [21]:
#Seleciona a coluna de forma ascendente
df["dur"].sort_values()

330    134
591    148
174    157
492    158
581    159
      ...
194    353
162    354
63     379
422    403
188    424
Name: dur, Length: 603, dtype: int64

In [22]:
#Retorna do df, de modo que a ordem da coluna "dur" seja ascendente
df2.sort_values(by = 'dur')

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
330,331,Mark My Words,Justin Bieber,canadian pop,2015,114,26,38,-9,17,52,134,88,3,63
591,592,All Around The World (La La La),R3HAB,big room,2019,125,86,73,-5,11,52,148,48,3,82
174,175,I Love It (feat. Charli XCX),Icona Pop,candy pop,2013,126,91,71,-3,15,82,157,1,3,67
492,493,Reality (feat. Janieck Devy) - Radio Edit,Lost Frequencies,belgian edm,2017,122,64,73,-7,8,53,158,2,4,59
581,582,Good as Hell (feat. Ariana Grande) - Remix,Lizzo,escape room,2019,96,89,67,-3,74,48,159,30,6,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,195,Take Back the Night,Justin Timberlake,dance pop,2013,107,66,59,-5,64,33,353,4,16,54
162,163,Lose Yourself to Dance,Daft Punk,electro,2013,100,66,83,-8,8,67,354,8,6,72
63,64,Monster,Kanye West,chicago rap,2011,125,69,63,-6,67,10,379,0,20,73
422,423,Wish That You Were Here - From Miss Peregrine...,Florence + The Machine,art pop,2016,94,57,37,-6,13,12,403,72,3,57
188,189,TKO,Justin Timberlake,dance pop,2013,138,68,61,-7,43,49,424,1,24,58

In [23]:
#Ordena do maior para o menor
df2.sort_values(by='dur',ascending=False)

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
188,189,TKO,Justin Timberlake,dance pop,2013,138,68,61,-7,43,49,424,1,24,58
422,423,Wish That You Were Here - From Miss Peregrine...,Florence + The Machine,art pop,2016,94,57,37,-6,13,12,403,72,3,57
63,64,Monster,Kanye West,chicago rap,2011,125,69,63,-6,67,10,379,0,20,73
162,163,Lose Yourself to Dance,Daft Punk,electro,2013,100,66,83,-8,8,67,354,8,6,72
194,195,Take Back the Night,Justin Timberlake,dance pop,2013,107,66,59,-5,64,33,353,4,16,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334,335,Reality - Radio Edit,Lost Frequencies,belgian edm,2015,122,70,71,-8,7,60,159,2,3,61
492,493,Reality (feat. Janieck Devy) - Radio Edit,Lost Frequencies,belgian edm,2017,122,64,73,-7,8,53,158,2,4,59
174,175,I Love It (feat. Charli XCX),Icona Pop,candy pop,2013,126,91,71,-3,15,82,157,1,3,67
591,592,All Around The World (La La La),R3HAB,big room,2019,125,86,73,-5,11,52,148,48,3,82
330,331,Mark My Words,Justin Bieber,canadian pop,2015,114,26,38,-9,17,52,134,88,3,63

In [24]:
#Ordena do menor para o maior
# ascending = True é PADRÃO
# df2.sort_values(by='dur',ascending=True) == df2.sort_values(by='dur')
df2.sort_values(by='dur',ascending=True)

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
330,331,Mark My Words,Justin Bieber,canadian pop,2015,114,26,38,-9,17,52,134,88,3,63
591,592,All Around The World (La La La),R3HAB,big room,2019,125,86,73,-5,11,52,148,48,3,82
174,175,I Love It (feat. Charli XCX),Icona Pop,candy pop,2013,126,91,71,-3,15,82,157,1,3,67
492,493,Reality (feat. Janieck Devy) - Radio Edit,Lost Frequencies,belgian edm,2017,122,64,73,-7,8,53,158,2,4,59
581,582,Good as Hell (feat. Ariana Grande) - Remix,Lizzo,escape room,2019,96,89,67,-3,74,48,159,30,6,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,195,Take Back the Night,Justin Timberlake,dance pop,2013,107,66,59,-5,64,33,353,4,16,54
162,163,Lose Yourself to Dance,Daft Punk,electro,2013,100,66,83,-8,8,67,354,8,6,72
63,64,Monster,Kanye West,chicago rap,2011,125,69,63,-6,67,10,379,0,20,73
422,423,Wish That You Were Here - From Miss Peregrine...,Florence + The Machine,art pop,2016,94,57,37,-6,13,12,403,72,3,57
188,189,TKO,Justin Timberlake,dance pop,2013,138,68,61,-7,43,49,424,1,24,58

In [25]:
(df2["artist"]=="Madonna").any()

True

In [26]:
df2.groupby('artist')['title'].count()

artist
3OH!3                  1
5 Seconds of Summer    1
A Great Big World      1
Adam Lambert           2
Adele                  8
                      ..
ZAYN                   5
Zara Larsson           1
Zedd                   6
fun.                   2
will.i.am              1
Name: title, Length: 184, dtype: int64

In [55]:
df_teste = df2.groupby('artist')['title'].count()
df_teste = df_teste.reset_index()
df_teste = df_teste.rename(columns = {'title':'contagem_de_title'})
df_teste = df_teste.sort_values(by='contagem_de_title', ascending = False)
df_teste

            artist  contagem_de_title
86      Katy Perry                 17
145        Rihanna                 15
83   Justin Bieber                 14
114       Maroon 5                 14
94       Lady Gaga                 14
..             ...                ...
85      Kanye West                  1
81      Jonas Blue                  1
80     John Newman                  1
78    Joey Montana                  1
183      will.i.am                  1

[184 rows x 2 columns]

In [49]:
df_contagem_musicas = df2.groupby(['artist','year'])['title'].count()
df_contagem_musicas = df_contagem_musicas.reset_index()
df_contagem_musicas = df_contagem_musicas.rename(columns = {'title':'contagem_title'})
df_contagem_musicas = df_contagem_musicas.sort_values(by='contagem_title', ascending=False)
df_contagem_musicas

                artist  year  contagem_title
185      Justin Bieber  2015               9
116         Ed Sheeran  2019               5
214          Lady Gaga  2011               5
187  Justin Timberlake  2013               4
350       Shawn Mendes  2018               4
..                 ...   ...             ...
147   Hailee Steinfeld  2016               1
146   Gym Class Heroes  2012               1
145       Gwen Stefani  2016               1
143           Galantis  2017               1
398          will.i.am  2013               1

[399 rows x 3 columns]

In [28]:
df2.groupby(['artist','year'])[['bpm','dur']].mean()

                            bpm    dur
artist              year
3OH!3               2010  138.0  192.0
5 Seconds of Summer 2014  160.0  202.0
A Great Big World   2014  138.0  229.0
Adam Lambert        2010  158.5  227.5
Adele               2011  120.0  256.5
...                         ...    ...
Zedd                2015  130.0  240.0
                    2016  126.0  225.0
                    2017  105.0  207.5
fun.                2012  146.0  264.0
will.i.am           2013  128.0  280.0

[399 rows x 2 columns]

In [29]:
df2.groupby(['artist','year']).agg({'dur':'mean','year':'count'})

                            dur  year
artist              year
3OH!3               2010  192.0     1
5 Seconds of Summer 2014  202.0     1
A Great Big World   2014  229.0     1
Adam Lambert        2010  227.5     2
Adele               2011  256.5     2
...                         ...   ...
Zedd                2015  240.0     1
                    2016  225.0     1
                    2017  207.5     2
fun.                2012  264.0     2
will.i.am           2013  280.0     1

[399 rows x 2 columns]

In [30]:
lista = ['chocolate','caramelo','bala']

In [31]:
type(lista)

list

In [32]:
tupla = ('chocolate','caramelo')
type(tupla)

tuple

In [33]:
conjunto = {'chocolate','caramelo','marshmallow'}
type(conjunto)

set

In [34]:
dicionario = {'doce':['chocolate','marshmallow'],'salgado':['kibe','pastel']}
dicionario

{'doce': ['chocolate', 'marshmallow'], 'salgado': ['kibe', 'pastel']}

In [35]:
type(dicionario)

dict

In [36]:
dff = pd.DataFrame(dicionario)
dff

          doce salgado
0    chocolate    kibe
1  marshmallow  pastel